.bigmenu {
  $buttonSize: 200px;
  $gap: 2px;
  width: $buttonSize * 2;


  &__item {
    float: left;
    height: calc(#{$buttonSize - $gap});
    width: calc(#{$buttonSize - $gap});
    box-shadow: 0 0 9px #888;
    margin: $gap 0;
    background-color: #7a7ad0;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s;
    cursor: pointer;
    padding: 20px;
    text-transform: capitalize;

    &:nth-child(2n) {
      float: right;
    }

    &:hover {
      transform: scale(0.95);
    }
  }
}
